.c-btn {
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    white-space: nowrap;
    border: none;
}
.c-btn-primary {
    background-color: #003e85;
    color: #fff;
}
.c-btn-primary:hover {
    background-color: #ccc;
    color: #000;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}
.media-content {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 10px 15px;
}
.media-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
}
.media-body {
    padding: 15px 15px;
    margin: 0px 10px;
}
.message-block {
    margin: 10px 10px 0px 40px;
}
.profile {
    height: 100%;
    background-color: #fff;
}
.profile img.image-lg {
    z-index: 0;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}
.profile-text {
    width: 100%;
}
.profile-text p {
    margin-left: 15px;
}
.image-profile {
    margin: -90px 10px 0px 130px;
    z-index: 9;
    width: 100px;
    height: 100px;
    position: relative;
    /*background-color: #fff;*/
    padding: 10px;
}
.profile-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 0;
    clear: both;
    padding-top: 20px;
}
.tabs-full-width li{
    width:25%;
}
.tabs-full-width .nav-item .nav-link.active{
  text-align: center!important;
}
.tabs-full-width .nav-item .nav-link{
    text-align: center!important;
}
.social-feed-box{
    padding:0px !important;
    border:none !important;
}
.follow-btn {
    float: right !important;
    margin-top: -70px;
    margin-right: 20px;
}
.btn-sm{
    font-size:12px;
}
.friend-img{
    width:100%;
    height:86px;
}
.demo-gallery{
    padding:0px;
}
#profile-light-gallery > LI > a{
    overflow: hidden;
}
#profile-light-gallery > LI > a img{
     height:90px;
     padding:0px;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #639A62;
    border-color: #639A62;
    box-shadow: none;
    outline: none;
}
.btn-primary {
    color: #fff;
    background-color: #639A62;
    border-color: #639A62;
    min-height:20px;
}
#team .card {
    border: none;
    background: #ffffff;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}
.backside {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
    min-height: 312px;
}
.backside .card a {
    font-size: 18px;
    color: #fff !important;
}
.frontside .card .card-title,
.backside .card .card-title {
    color: #639A62 !important;
}
.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-block h4 a:hover{
    color:#28A745;
}
.card-block ul.follow-us{
    text-align: center;
    padding:0px;
}
.card-block:hover{
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.card-block .follow-us li{
    display:inline-block;
    width:auto;
    padding:0px;
}
.card-block .follow-us li .fa{
   font-size:20px;
   color:#767676;
}
.card-block .follow-us li .fa:hover{
   color:#025a8e;
}
.card-block .follow-us li a{
    width:40px;
    height:40px;
    padding:9px;
}
@media only screen and (max-width:1024px){
    .img-height-6{
        height:360px !important;
    }
    .post-data{
        padding:0px;
    }
    .tabs-container .tab-pane .panel-body{
        padding:20px 0px;
    }
}
@media only screen and (min-width:834px) {
    .follow-btn {
        margin-top: -150px!important;
    }
    .profile-text h3,
    .profile-text p {
        font-size: 24px;
    }
}
@media (max-width:767px) {
    .profile-text {
        position: relative;
        width: 100% !important;
        text-align: center;
        margin-bottom: 90px;
    }
    .profile-content {
        padding-top: 0px;
    }
    .profile img.image-lg{
        height:300px;
    }
    .friend-img{
        width:100%;
        height:126px;
    }
}
@media (max-width:768px) {
    .friend-username h6{
        padding-top:10px;
        font-size: 14px;
    }
    .profile-text h3,
    .profile-text p {
        font-size: 24px;
    }
    .image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
    }
    .profile-sidebar {
        width: 30%;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        z-index: 0;
        position: relative;
    }
    .media-content {
        text-align: center;
    }
    #user-profile-media .media-content,
    #user-profile-media a,
    #user-profile-media .media-body {
        width: 100%;
    }
    .actions {
        text-align: center !important;
    }
    .actions a.btn {
        width: auto !important;
    }
}
@media (max-width:640px){
    .profile-text{
        float:left;
        text-align: left;
        margin-left:80px;
        margin-bottom: 0px;
    }
    .follow-btn{
        position: absolute;
        top:-120px;
        right:0;
        margin-right:30px;
    }
    .post-data {
        padding:0px;
    }
    .tabs-container .tab-pane .panel-body{
        padding: 15px 0px;
    }
    .padding-top{
        padding-top:0px !important;
    }
    .img-height-6{
        height:260px !important;
    }
    .profile-social-btn li{
        margin:10px 10px !important;
    }
}
@media (max-width:480px){
    .profile-text{
        float:left;
        text-align: left;
        margin-left:80px;
        margin-bottom: 70px;
    }
    .follow-btn{
        position: static;
        float: left !important;
        margin-left:20px;
    }
    .post-data {
        padding:0px;
    }
}
@media (max-width:320px){
    .profile-text{
        float:left;
        text-align: left;
        margin-left:80px;
        margin-bottom: 70px;
    }
    .follow-btn{
        position: static;
        float: left !important;
        margin-left:10px;
    }
    .post-data {
        padding:0px;
    }
}
